extends layout

block body
    #main
        .stats
            .block-stat
                h4 Mensajes

                p 
                    span Total: 
                        strong #{ mensajes_total }

                    span Spam: 
                        strong #{ mensajes_desactivados }

                    span Twitter/Facebook: 
                        strong #{ mensajes_publicados }

            .block-stat
                h4 Usuarios

                p 
                    span Total: 
                        strong #{ usuarios_total }
                    span Spammers: 
                        strong #{ usuarios_bloqueados }
                    span Facebook: 
                        strong #{ usuarios_facebook }
                    span Twitter: 
                        strong #{ usuarios_twitter }

        .chart-geo(data-geo=usuarios_geo)

        table
            thead: tr
                th Usuario
                th País
                th Red
                th IP
                th Admin
                th Activo
                th 


            tbody
                each usuario in usuarios_all
                    tr(data-id=usuario.id).user
                        td
                            img(src=usuario.avatar, height=20, alt=usuario.username)
                            a(href=usuario.link)= usuario.username
                        td #{ usuario.pais }
                        td.red: img(src="/images/admin/#{usuario.red}.png", alt=usuario.red, height=17)
                        td #{ usuario.ip }
                        td: input(type="checkbox", checked=usuario.admin).admin
                        td: input(type="checkbox", checked=usuario.activado).activado
                        td: input(type="submit", value="Guardar").guardar