extends layout

block content
    .chat
        .chatbox: form#chatform
            input(type="text", placeholder="Participa en el chat", maxlength="128")

            if user
                p.publish
                    if user.red == 'twitter'
                        span Publicar a twitter
                    else if user.red == 'facebook'
                        span Publicar a facebook
                    else
                        span Publicar 

                    input(type="checkbox")#publish

        .messages#messages
            each message in messages
                div(class="message", id="message-#{message._id}")
                    .avatar: a(href=message.user.link, target="_blank")
                        img(src=message.user.avatar, alt=message.user.username, width=30, height=30)

                    a(href=message.user.link, target="_blank").user= message.user.username

                    p= message.content

                    .time: small= message.datetime.toString('MMMM d, HH:mm')

                    .actions
                        if user 
                            if user.username != message.user.username
                                a(href="#", target="_blank").responder
    if user
        a(href="/salir").logout Salir
    else
        #login
            .overlay.animated
            .panel.animated
                p Para participar necesitas identificarte

                a(href="/auth/facebook").facebook Conectate con
                a(href="/auth/twitter").twitter Conectate con