extends layout

block content
    .chat
        .chatbox: form.chatform#chatform
            input(type="text", placeholder="Participa en el chat", maxlength="128").chatfield

            if user
                p.publish
                    case user.red
                        when 'twitter'
                            span Publicar a twitter
                        when 'facebook'
                            span Publicar a facebook
                        default
                            span Publicar 

                    if user.admin
                        input(type="checkbox")#publish
                    else
                        input(type="checkbox", checked)#publish

        .messages#messages
            each message in messages
                div(class="message#{ message.user.admin ? ' destacado' : ''}#{ user && user.username == message.user.username ? ' sameuser' : ''}", id="message-#{message._id}")
                    .avatar: a(href=message.user.link, target="_blank")
                        img(src=message.user.avatar, alt=message.user.username, width=30, height=30)

                    a(href=message.user.link, target="_blank", title="Ir al perfil del usuario").user= message.user.username

                    p.content= message.content

                    .time: small= message.datetime.toString('MMMM d, HH:mm')

                    .actions
                        if user 
                            if user.username != message.user.username
                                a(href="#", target="_blank").icon-undo.responder
                                
                            if user.admin
                                a(href="#", target="_blank", data-borrar=message.id).borrar.icon-blocked

        .mentions#mentions

    if user
        footer
            a(href="#", title="Menciones").icon-mention#mention-btn
            a(href="#", title="Sonido").icon-volume-high#sound-btn
            if user.admin
                a(href="/admin", target="_blank", title="Administrador").icon-award-fill
            a(href="/salir", title="Salir").icon-exit
    else
        #login
            .overlay.animated
            .panel.animated
                p Para participar necesitas identificarte

                a(href="/auth/facebook").facebook Conectate con
                a(href="/auth/twitter").twitter Conectate con

    if user
        script
            window.user = {
                username: "#{ user.username }",
                upgraded: #{ user.admin }
            };